/* Common styles for all screen sizes */
.event {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    animation: slideInUp 0.5s ease-out;
}

.event img {
    max-width: 100%;
    height: auto;
}

/* Styles for screens with a maximum width of 600px (typical mobile devices) */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    .event {
        padding: 5px;
    }
}

.fa {
    padding: 5px;
    font-size: 25px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    margin: 1px 1px;
    border-radius: 10%;
    transition: all 0.3s ease;
}

.fa:hover {
    opacity: 0.7;
    transform: scale(1.1);
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.mySlides {
    display: none;
    animation: fadeIn 0.5s ease-out;
}

.mySlides.show {
    display: block;
}

/* Navigation Animations */
@keyframes slideInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Prev/Next buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    background-color: rgba(255, 153, 51, 0.7);
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s ease;
    border-radius: 3px;
    user-select: none;
    z-index: 10;
}

.next {
    right: 0;
}

.prev {
    left: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(255, 153, 51, 1);
    transform: scale(1.1);
